{% extends "base_generic.html" %}

{% block content %}
    <h1>Libros en prestamos</h1>

    {% if bookinstance_list %}
    <ul>

      {% for bookinst in bookinstance_list %} 
      <li class="{% if bookinst.is_overdue %}text-danger{% endif %}">
        <a href="{% url 'book-detail' bookinst.book.pk %}">{{bookinst.book.title}}</a> (Prestado a <u><b>{{ bookinst.borrower }}</u></b>, devuelve {{ bookinst.due_back }})
        <a href="{% url 'loan-book' bookinst.id %}">[Modificar prestamo]</a>    
      </li>
      {% endfor %}
    </ul>

    {% else %}
      <p>No tienes libros en prestamo</p>
    {% endif %}       
{% endblock %}